from create_isolated_cat import RefCatMatchConfig

config.isolation_radius = 5.0

config.primary_catalog_config.path='/sdf/group/rubin/g/project/the_monster/GAIA_DR3/gaia_dr3/'
config.primary_catalog_config.extra_columns=[]

config.matched_catalog_configs={"atlasrc2":RefCatMatchConfig,
                                "gaia_xp_lsst":RefCatMatchConfig,
                                "gaia_xp_ps_des_sdss_sm":RefCatMatchConfig,
                                "sdss_16_standards":RefCatMatchConfig,
                                "sky_mapper_dr2":RefCatMatchConfig,
                                "vst_atlas":RefCatMatchConfig,
                                "ps1":RefCatMatchConfig,
                                "galex":RefCatMatchConfig

}
# atlas rc2
config.matched_catalog_configs["atlasrc2"].catalog_name="atlas_rc2"
config.matched_catalog_configs["atlasrc2"].path='/sdf/group/rubin/datasets/refcats/htm/v1/atlas_refcat2_20220201/'

# gaia_xp_lsst
config.matched_catalog_configs["gaia_xp_lsst"].catalog_name="gaia_xp_lsst"
config.matched_catalog_configs["gaia_xp_lsst"].path='/sdf/group/rubin/g/project/the_monster/sharded_refcats/gaia_xp_lsst_baseline_20221216/'

# gaia_xp_ps_des_sdss_sm
config.matched_catalog_configs["gaia_xp_ps_des_sdss_sm"].catalog_name="gaia_xp_ps_des_sdss_sm"
config.matched_catalog_configs["gaia_xp_ps_des_sdss_sm"].path='/sdf/group/rubin/g/project/the_monster/sharded_refcats/gaia_xp_ps_des_sdss_sm_20221216/'

# "sdss_16_standards"
config.matched_catalog_configs["sdss_16_standards"].catalog_name="sdss_16_standards"
config.matched_catalog_configs["sdss_16_standards"].path='/sdf/group/rubin/g/project/the_monster/sharded_refcats/sdss_16_standards_20221205/'

# "sky_mapper_dr2"
config.matched_catalog_configs["sky_mapper_dr2"].catalog_name="sky_mapper_dr2"
config.matched_catalog_configs["sky_mapper_dr2"].path='/sdf/group/rubin/g/project/the_monster/sharded_refcats/sky_mapper_dr2_20221205/'

# "vst_atlas"
config.matched_catalog_configs["vst_atlas"].catalog_name="gaia_xp_lsst"
config.matched_catalog_configs["vst_atlas"].path='/sdf/group/rubin/g/project/the_monster/sharded_refcats/vst_atlas_20221205/'

# "ps1"
config.matched_catalog_configs["ps1"].catalog_name="ps1_pv3_3pi"
config.matched_catalog_configs["ps1"].path='/sdf/group/rubin/datasets/refcats/htm/v1/ps1_pv3_3pi_20170110/'

# "galex"
config.matched_catalog_configs["galex"].catalog_name="galex"
config.matched_catalog_configs["galex"].path='/sdf/group/rubin/g/project/the_monster/sharded_refcats/galex_20221205/'


#/sdf/group/rubin/g/project/the_monster/sharded_refcats/gaia_xp_lsst_baseline_20221216/

#'/sdf/group/rubin/g/project/the_monster/sharded_refcats/'



# isolation_radius=5.0, primary_catalog={'path': '/sdf/group/rubin/g/project/the_monster/GAIA_DR3/gaia_dr3/', 'id_column': 'sourceId', 'ra_column': 'ra', 'dec_column': 'decl', 'extra_columns': ['x', 'y', 'apFlux_17_0_instFlux', 'apFlux_17_0_instFluxErr', 'apFlux_17_0_flag', 'localBackground_instFlux', 'localBackground_flag'], 'column_map': {'coord_ra': 'ra', 'coord_dec': 'decl'}, 'match_radius': 1.0}, catalogs_to_match={}, primary_force=False)